html {
 background: url(https://cdn.wallpapershdin.com/wallpapers/blue-minimalistic-grain-windows-8-gradient-colors-plain-noise-2048x1152.jpg);
 background-size: cover;
 font-family: 'Times New Roman';
 text-align: center;
 font-size: 10px;
}
body {
 margin: 0;
 font-size: 2rem;
 display: flex;
 flex: 1;
 min-height: 100vh;
 align-items: center;
}
.clock {
 width: 40rem;
 height: 40rem;
 border: 1px solid white;
 border-radius: 50%;
 margin: 50px auto;
 position: relative;
 padding: 2rem;
 box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 2px white, inset 0 0 27px 0px black, 0 0 55px rgba(0, 0, 0, 1);
}
.clock-face {
 position: relative;
 width: 100%;
 height: 100%;
 transform: translateY(-3px); /* account for the height of the clock hands */
}
.hand {
 border-radius: 5px;
 background: black;
 position: absolute;
 top: 50%;
 right: 50%;
 transform-origin: 100%;
 transform: rotate(90deg);
 transition: all 0.05s;
 transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
 box-shadow: 3px 2px 5px #000000;
}
.hour-hand {
 height: 6px;
 width: 30%;
}
.minute-hand {
 height: 4px;
 width: 40%;
}
.second-hand {
 height: 2px;
 width: 50%;
}
.bolt {
 height: 12px;
 width: 12px;
 border: 2px solid black;
 background: black;
 position: absolute;
 top: 49%;
 right: 48.5%;
 border-radius: 10px;
 box-shadow: 1px 1px 1px #000000;
}
.numerals {
  position: relative;
}
#twelve {
  top: 0;
  bottom: 0;
  font-size: 80px;
}
#three {
  top: 60px;
  left: 320px;
  width: 100px;
  font-size: 80px;
}
#nine {
  top: -45px;
  right: 10px;
  left: 0px;
  width: 50px;
  font-size: 100px;
}
#six {
  top: 50px;
  left: -5px;
  font-size: 60px;
}
