:root {
  --base: #ffc600;
  --scale: 1;
  --blur: 5px;
  --duration: 3000ms;
  background: url(https://i.pinimg.com/originals/43/c9/65/43c9653e3a717d4a80a0551ebec6c978.png) center;
  background-size: cover;
}

img {
  height: 80vh;
  width: 80vh;
}

.energyBall {
  background: var(--base);
  border-radius: 100%;
  top: 440px;
  left: 560px;
  position: absolute;
  z-index: 1;
  filter: blur(var(--blur));
  transform: scale(var(--scale));
  transition: transform var(--duration) ease-in-out;
  /* will-change: transform; */
  width: 10vmin;
  height: 10vmin;
}

.hl {
  color: var(--base);
}

body {
  text-align: center;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
