:root {
  --base: #ffc600;
  --spacing: 10px;
  --blur: 10px;
  background: url(https://i.pinimg.com/originals/43/c9/65/43c9653e3a717d4a80a0551ebec6c978.png) center;
  background-size: cover;
}

img {
  padding: var(--spacing);
  filter: blur(var(--blur));
  height: 80vh;
  width: 80vh;
}

.energyBall {
  height: 100px;
  width: 100px;
  background: var(--base);
  border-radius: 100px;
  top: 360px;
  left: 540px;
  position: absolute;
  z-index: 1;
}

/* .hl {
  color: var(--base);
} */

body {
  text-align: center;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
