:root {
  --base: #ffc600;
  --scale: 1;
  /* --width: calc(var(--size) + 15px); */
  --blur: 5px;
  background: url(https://i.pinimg.com/originals/43/c9/65/43c9653e3a717d4a80a0551ebec6c978.png) center;
  background-size: cover;
}

img {
  height: 80vh;
  width: 80vh;
}

.energyBall {
  background: var(--base);
  border-radius: 100%;
  top: 390px;
  left: 580px;
  position: absolute;
  z-index: 1;
  filter: blur(var(--blur));
  transform: scale(var(--scale));

    --duration: 2000ms;

  transition: transform var(--duration) ease-in-out;
  will-change: transform;
  width: 15vmin;
  height: 15vmin;

  transition-duration: 3000;
}

/* .hl {
  color: var(--base);
} */

body {
  text-align: center;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 50px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}
